# A. Create a spark data frame that contains your favorite programming languages.

1. The name of the column should be language
2. View the schema of the dataframe
3. Output the shape of the dataframe
4. Show the first 5 records in the dataframe

In [7]:
import pandas as pd

import pyspark

spark = pyspark.sql.SparkSession.builder.getOrCreate() #method to create spark session

In [8]:
language = pd.DataFrame({'name': ['python','html','java','swift','c++','javascript']})

language

         name
0      python
1        html
2        java
3       swift
4         c++
5  javascript

In [9]:
language = spark.createDataFrame(language)

In [10]:
language.printSchema()

root
 |-- name: string (nullable = true)

In [14]:
# no index in spark
language.count()

6

In [12]:
language.show(5)

+------+
|  name|
+------+
|python|
|  html|
|  java|
| swift|
|   c++|
+------+
only showing top 5 rows

# B. Load the mpg dataset as a spark dataframe.

1. Create 1 column of output that contains a message like the one below:
    - The 1999 audi a4 has a 4 cylinder engine.

2. For each vehicle.
    - Transform the trans column so that it only contains either manual or auto.

In [25]:
from pydataset import data

mpg = spark.createDataFrame(data('mpg'))

mpg.show(5)

+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|manufacturer|model|displ|year|cyl|     trans|drv|cty|hwy| fl|  class|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|        audi|   a4|  1.8|1999|  4|  auto(l5)|  f| 18| 29|  p|compact|
|        audi|   a4|  1.8|1999|  4|manual(m5)|  f| 21| 29|  p|compact|
|        audi|   a4|  2.0|2008|  4|manual(m6)|  f| 20| 31|  p|compact|
|        audi|   a4|  2.0|2008|  4|  auto(av)|  f| 21| 30|  p|compact|
|        audi|   a4|  2.8|1999|  6|  auto(l5)|  f| 16| 26|  p|compact|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
only showing top 5 rows

# C. Load the tips dataset as a spark dataframe.

1. What percentage of observations are smokers?
2. Create a column that contains the tip percentage
3. Calculate the average tip percentage for each combination of sex and smoker.

In [26]:
tips = spark.createDataFrame(data('tips'))

tips.show(5)

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
+----------+----+------+------+---+------+----+
only showing top 5 rows

# D. Use the seattle weather dataset referenced in the lesson to answer the questions below.

1. Convert the temperatures to farenheight.
2. Which month has the most rain, on average?
3. Which year was the windiest?
4. What is the most frequent type of weather in January?
5. What is the average high and low temperature on sunny days in July in 2013 and 2014?
6. What percentage of days were rainy in q3 of 2015?
7. For each year, find what percentage of days it rained (had non-zero precipitation).